@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    font-family: 'Circular';
  }
  @media only screen and (max-width: 767px) {
    .mobile-nav{
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      transition: all .2s ease-in;
    }
    .mobile-show{
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
    }
  }
}